---
import Layout from '../layouts/Layout.astro';
import NavigationBar from '../components/NavigationBar.astro';
import PaymentsList from '../components/vue/PaymentsList.vue';
---

<Layout title="Sólo herramientas">
  <NavigationBar />
	<main class=" max-w-[95%] sm:max-w-3xl mx-auto pt-16" transition:animate="slide">
		<PaymentsList client:only="vue" />
	</main>
</Layout>
