---
---

<nav
  class="
    max-w-screen-md mx-auto flex bg-red-800 text-blue-100
    px-8 py-4 gap-4
  "
  transition:persist
>
  <li><a href="/bills">Facturas</a></li>
  <li><a href="/chores">Deberes</a></li>
</nav>

<style scoped>
  li {
    list-style-type: none;
  }
</style>
